<script language="JavaScript">
'use strict';
(function()
{
const actionModifiers = {{{json actions}}};
function updateInitModTotal()
{
	const modDex = Number.fromString({{init-mod-dex}});
	const modSize = Number.fromString({{init-mod-size}});
	const modAction = getActionMod("select#init-mod-action option:selected");
	const modBonusAction = getActionMod("select#init-mod-bonus-action option:selected");
	let modChosen = undefined;
	if (isNaN(modAction) && isNaN(modBonusAction))
		modChosen = 0;
	else if (isNaN(modAction) && !isNaN(modBonusAction))
		modChosen = modAction;
	else if (!isNaN(modAction) && isNaN(modBonusAction))
		modChosen = modBonusAction;
	else
		modChosen = Math.min(modAction, modBonusAction);
	const totalMod = modDex + modSize + modChosen;
	$("input#init-mod-total").val(((totalMod >= 0) ? '+' : '') + totalMod);
}
function getActionMod(selector)
{
	const actionIndex = Number.fromString($(selector).val());
	const matchingAction = actionModifiers.filter(m => m.index == actionIndex)[0] ?? undefined;
	if (matchingAction?.action?.name == 'None')
		return NaN;
	return Number.fromString(matchingAction?.action?.mod || 0);
}
$(document).ready(function()
{
	updateInitModTotal();
	$("select#init-mod-action").change(function()
	{
		updateInitModTotal();
	});
	$("select#init-mod-bonus-action").change(function()
	{
		updateInitModTotal();
	});
});

})();
</script>
<form class="speedFactorInitiative">
	<section>
		<label for="init-mod-dex">Dex Modifier:</label>
		<input type="text" disabled=disabled readonly name="init-mod-dex" id="init-mod-dex" value="{{init-mod-dex}}" />
		<label for="init-mod-size">Size Modifier:</label>
		<input type="text" disabled=disabled readonly name="init-mod-size" id="init-mod-size" value="{{init-mod-size}}" />
	</section>
	<section class="span">
		<label for="init-mod-action">Action:</label>
		<select name="init-mod-action" id="init-mod-action">
			{{#each actions as |actionOption|}}<option value="{{actionOption.index}}"{{#if (numEq ../last-action actionOption.index)}} selected{{/if}} title="{{actionOption.action.tooltip}}">{{#if (gte actionOption.action.mod 0)}}+{{/if}}{{actionOption.action.mod}}: {{{actionOption.action.nameFull}}}</option>{{/each}}
		</select>
		<label for="action-target">Details:</label>
		<input type="text" name="action-target" id="action-target" title="Clarifying details about your action (e.g. a target)" value="{{action-target}}"  />
	</section>
	<section class="span">
		<label for="init-mod-action">Bonus Action:</label>
		<select name="init-mod-bonus-action" id="init-mod-bouns-action">
			{{#each actions as |actionOption|}}<option value="{{actionOption.index}}"{{#if (numEq ../last-bonus-action actionOption.index)}} selected{{/if}} title="{{actionOption.action.tooltip}}">{{#if (gte actionOption.action.mod 0)}}+{{/if}}{{actionOption.action.mod}}: {{{actionOption.action.nameFull}}}</option>{{/each}}
		</select>
		<label for="bouns-action-target">Details:</label>
		<input type="text" name="bonus-action-target" id="bonus-action-target" title="Clarifying details about your action (e.g. a target)" value="{{bonus-action-target}}" />
	</section>
	<section class="span">
		<label for="init-mod-total">Total Modifier:</label>
		<input type="text" disabled=disabled readonly name="init-mod-total" id="init-mod-total" value="" />
	</section>
	<section class="span">
		<label for="init-roll">Roll Override:</label>
		<input type="text" name="init-roll" id="init-roll" inputmode="numeric" pattern="\d+" />
		<div class="helperText">If you are rolling physical dice for your initiative, fill in the unmodified roll result here. Otherwise, leave it blank and Foundry will roll it for you when the round starts.</div>
	</section>
</form>
