<script language="JavaScript">
'use strict';
(function()
{
const actionModifiers = {{{json actions}}};
function updateInitModTotal()
{
	let modDex = Number.fromString({{init-mod-dex}});
	let modSize = Number.fromString({{init-mod-size}});
	let modAction = Number.fromString(actionModifiers[Number.fromString($("select#init-mod-action").val())]?.action?.mod ?? 0);
	$("input#init-mod-total").val(modDex + modSize + modAction);
}
$(document).ready(function()
{
	updateInitModTotal();
	$("select#init-mod-action").change(function()
	{
		updateInitModTotal();
	});
});

})();
</script>
<form class="speedFactorInitiative">
	<section>
		<label for="init-mod-dex">Dex Modifier:</label>
		<input type="text" disabled=disabled readonly name="init-mod-dex" id="init-mod-dex" value="{{init-mod-dex}}" />
		<label for="init-mod-size">Size Modifier:</label>
		<input type="text" disabled=disabled readonly name="init-mod-size" id="init-mod-size" value="{{init-mod-size}}" />
	</section>
	<section>
		<label for="init-mod-action">Action:</label>
		<select name="init-mod-action" id="init-mod-action">
			{{#each actions as |actionOption|}}<option value="{{actionOption.index}}"{{#if (numEq ../last-action actionOption.index)}} selected{{/if}} title="{{actionOption.action.tooltip}}">{{#if (gte actionOption.action.mod 0)}}+{{/if}}{{actionOption.action.mod}}: {{{actionOption.action.nameFull}}}</option>{{/each}}
		</select>
	</section>
	<section class="span">
		<label for="init-mod-total">Total Modifier:</label>
		<input type="text" disabled=disabled readonly name="init-mod-total" id="init-mod-total" value="" />
	</section>
	<section class="span">
		<label for="init-roll">Roll Override:</label>
		<input type="text" name="init-roll" id="init-roll" inputmode="numeric" pattern="\d+" />
		<div class="helperText">If you already rolled physical dice for your initiative, fill in the unmodified roll result here. Otherwise, leave it blank and Foundry will roll it for you when the round starts.</div>
	</section>
</form>
